<p-toast position="top-right"></p-toast>

<div class="card p-4">
    <h2>Roles Management</h2>

    <p-toolbar>
        <ng-template pTemplate="left">
            <button pButton label="Add New Role"
                    icon="pi pi-plus"
                    class="p-button-sm p-button-success"
                    (click)="editRole({})"
                    disabled></button>
        </ng-template>
        <ng-template pTemplate="right">
      <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input pInputText type="text"
               [(ngModel)]="searchText"
               placeholder="Search roles..."
               style="width: 250px"/>
      </span>
        </ng-template>
    </p-toolbar>

    <!-- Removed responsive property as it's deprecated -->
    <p-table [value]="roles"
             [columns]="cols"
             [paginator]="true"
             [rows]="10"
             [showCurrentPageReport]="true"
             currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
             [rowsPerPageOptions]="[5,10,25]"
             [loading]="loading"
             styleClass="p-datatable-striped p-datatable-gridlines p-datatable-sm">

        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                    {{col.header}}
                    <p-sortIcon [field]="col.field"></p-sortIcon>
                </th>
                <th style="width: 120px">Actions</th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-role>
            <tr>
                <td>{{role.id}}</td>
                <td>{{role.name}}</td>
                <td>{{getProperty(role, 'platform.name')}}</td>
                <td>{{getProperty(role, 'platform.description')}}</td>
                <td>
                    <div class="flex gap-2">
                        <button pButton icon="pi pi-pencil"
                                class="p-button-rounded p-button-sm p-button-text p-button-success"
                                (click)="editRole(role)"></button>
                        <button pButton icon="pi pi-trash"
                                class="p-button-rounded p-button-sm p-button-text p-button-danger"
                                (click)="deleteRole(role)"></button>
                    </div>
                </td>
            </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage">
            <tr>
                <td [attr.colspan]="cols.length + 1">
                    {{loading ? 'Loading...' : 'No roles found'}}
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
