<div class="container mx-auto p-4">
    <p-card>
        <ng-template pTemplate="header">
            <div class="flex justify-between items-center">
                <h2>Survey List</h2>
            </div>
        </ng-template>

        <p-table
            [value]="surveys"
            [loading]="loading"
            [paginator]="true"
            [rows]="10"
            responsiveLayout="scroll"
        >
            <ng-template pTemplate="header">
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Actions</th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-survey>
                <tr>
                    <td>{{ survey.title }}</td>
                    <td>{{ survey.description }}</td>
                    <td>
                        <button
                            pButton
                            icon="pi pi-pencil"
                            class="p-button-sm p-button-warning mr-2"
                            label="Edit"
                            (click)="editSurvey(survey.id)"
                        ></button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </p-card>
</div>
